/* Сброс */
a {
  color: #161B22;
  font-size: 20px;
}
body {
  font-family: "Rubik",Arial,Helvetica,sans-serif;
  text-shadow: none;
  text-decoration: none;
  background-color: #FFF;
}
section {
  max-width: 1920px;
  width: 100%;
  height: 500px;

  margin: 0 auto;
}

/* header */
.header {
background-color: #F6F6F6;
transition: 1s;
}
.header__container {
  width: 100%;

  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;


}
.header__container-ul {
  width: 35%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__ul-items {
  color: #161B22;
}
/* download */
.download__container {
  width: 100%;
//  background: green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background: url("../src/istock_000018828403medium1.png");
  background-repeat: no-repeat;
  background-size: cover;
  back

  color: #fff;
}
.download__container-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;

  margin-top: 100px;
  margin-left: 40px;
  user-select: none;
  color: #fff;
}
.download__container-subtitle {
  max-width: 1200px;
  width: 45%;

  margin-top: 50px;
  margin-left: 40px;

  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  user-select: none;
  color: #fff;
}
.download__container-load {
  max-width: 1200px;
  width: 40%;

  margin-bottom: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;

}
.load-ic {

}
/* work */
.work {
  max-width: 1920px;
  height: 600px;
}
.work__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px;

  display: flex;
  align-items: center;
  background-color: #F6F6F6;

}
.work__container-left,.work__container-right {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;

}
.work__container-right {
  justify-content: center;
  align-items: center;
}
.work__container_left-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 50px;

  margin-top: 100px;
  margin-left: 150px;
  color: #211E1F;
}
.work__container_left-subtitle{
  max-width: 397px;
  width: 100%;

  margin-top: 50px;
  margin-left: 150px;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #211E1F;
}
.work__container_right-test {
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 10px;

    display:flex;
    flex-direction:column;
    align-items:center;
}
.radioWrapper {
  width: 90%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.labelRad {
  user-select: none;
  font-size: 12px;
  font-weight: 400;
}
.calcMes {
  font-size: 12px;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 5px;
}
#btn-test {
    background: #56CCF2;
    margin-top: 0;
    border-radius: 0px 5px 5px 0px;
}
#btn-test:hover {
        background: #69d9ff;
}
/* auth */
.auth {
        width: 100%;
        height: 500px;
        // background: red;
}
.auth__container {
  width: 100%;
  height: 700px;
//  background: red;
}
.auth__container-checkbox {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.auth__container_checkbox-auth,.auth__container_checkbox-reg {
  padding-top: 30px;
  color: #211E1F;

  transition: 1s;

  font-weight: 500;
  font-size: 18px;

  width: 155px;
  height: 50px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.auth__container_checkbox-auth:hover ,.auth__container_checkbox-reg:hover {
  transition: 1s;
  font-size: 22px;
}
.vertical-draw {
  transition: 1s;
  margin-top: 15px;
  position: absolute;

  width: 300px;
  height: 50px;
  transform: skewX(-20deg);

  display: none;
  justify-content: flex-end;
  color: #161B22;
  z-index: -1;
}
.draw {
  transition: 1s;
  background: #161B22;;
  width: 2px;
  height: 100%;
}
.vertical {
  transition: 1s;
  margin-top: 15px;
  height: 50px;
  width: 2px;
  background: #161B22;;
  z-index: -1;

  transform: skewX(-20deg);
}
.auth__container-form,.registerForm,.authForm {
  margin: 0 auto;;
  width:350px;
  height:450px;
  background: #f6f6f6;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:10px;
}
.authForm {
  display: none;
}
 .label {
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;

  margin-left:25px;
}
 .label:first-child {
  margin-top: 20px;

}
.age {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.day,.month,.year {
  background: #F2F2F2;
  border: 0;
  outline: 0;
  margin-top: 15px;

  width: 55px;
  height: 30px;
}
.month,.year {
  margin-left: 20px;
}
.input {
  width: 80%;
  height: 35px;

  background: #FFF;

  border: 0;
  outline: 0;
  margin-top: 5px;
}
.regMess {
  color: red;
  font-size: 14px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left:25px;

  display: none;
  align-items: center;
}
.regMesGod {
  color: green;
}
.button {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: #6FCF97;

  color: #fff;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  height: 40px;

  margin-top: 20px;
  transition: .5s;
}
.button:hover {
  transition: .5s;
  background: #79e0a4;
}
/* footer */
.footer {
  margin-top: 150px;
}
.footer__container {
  background-color: #F6F6F6;
}
.footer__container__watermark-title {
  color: #211E1F;
}
.footer__container__menu-li, .contfooter {
  color: #211E1F;
}
@media screen and (max-width:1680px) {}
@media screen and (max-width:1600px) {
  /* header */
  /* download */
  /* work */
  /* auth */
}
@media screen and (max-width:1440px) {
  /* header */
  /* download */
  /* work */
  /* auth */
  .auth__container_checkbox-auth:hover ,.auth__container_checkbox-reg:hover {
    font-size: 21px;
  }
}
@media screen and (max-width:1366px) {
  /* header */
  /* download */
  /* work */
  .work__container_left-title {
    font-size: 52px;
  }
  /* auth */
  .auth__container_checkbox-auth:hover ,.auth__container_checkbox-reg:hover {
    font-size: 20px;
  }
}
@media screen and (max-width:1280px) {
  /* header */
  /* download */
  /* work */
  .work__container_left-title {
    font-size: 48px;
  }
  /* auth */
  .auth__container_checkbox-auth:hover ,.auth__container_checkbox-reg:hover {
    font-size: 19px;
  }
}
@media screen and (max-width:1200px) {
  /* header */
  .header__container-ul {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* download */
  .download__container-title {
    margin-top: 50px;
  }
  .download__container-subtitle {
    max-width: 1200px;
    width: 45%;

    margin-top: 50px;
  }
  .download__container-load {
    max-width: 1200px;
    width: 48%;

    margin-bottom: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  /* work */
  .work__container_left-title {
    font-size: 47px;
  }
  /* auth */
  .auth__container-checkbox {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .auth__container_checkbox-auth:hover ,.auth__container_checkbox-reg:hover {
    font-size: 18px;
  }
}
@media screen and (max-width:1024px) {
  /* header */
  .header {
    display: flex;
  }
  /* download */
  .download__container-load {
    max-width: 1200px;
    width: 55%;

    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  /* work */
  .work__container_left-title {
    font-size: 48px;
  }
  /* auth */
  .auth__container-checkbox {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:800px) {
  /* header */
  .header {
    display: none;
  }

  /* download */

  .download__container-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;
    margin-left: 0px;
    margin-top: 100px;

    user-select: none;
    color: #fff;
  }
  .download__container-subtitle {
    max-width: 1200px;
    width: 90%;
    margin-left: 0px;
    margin-top: 50px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    user-select: none;
    color: #fff;
  }

  /* work */
  .work__container-left{
    align-items: flex-start;
  }
  .work__container-right {
    justify-content: center;
    align-items: flex-end;
  }
.work__container_left-title,.work__container_left-subtitle{

    margin-left: 10px;

  }
  /* auth */
  .auth__container-checkbox {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
