/* Сброс */
a {
  color: #f5f5f5;
  font-size: 20px;
}
body {
  font-family: "Rubik",Arial,Helvetica,sans-serif;
  text-shadow: none;
  text-decoration: none;

  background-color: #8AC4CD;
}
section {
  width: 100%;
  height: 500px;

  margin: 0 auto;
}
/* header */
.header {
  background-color: #7ABFC7;
}
.header__container {
  width: 100%;

  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__container-ul {
  width: 35%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* download */

/* work */

/* auth */

/* footer */
.footer {
  margin-top: auto;
}
.footer__container {
  background-color: #7ABFC7;
}
.footer__container__watermark-title {
  color: #fff;
}
