* {
	margin: 0;
	padding:0;
	box-sizing: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
}
:root {
	--mainBackground:#FFF;
	--mainColor:#F5F5F5;
	--secondColor:#EBEBEB;
	--thirdColor:#F9F9F9;
	--fourdColor:#F1F1F1;
	--fiveColor:#E0E0E0;
}

body {
	font-family: "Rubik",Ariel,Helvetica,sans-serif;
	background-color: var(--mainBackground);
	display: none;
}
img {
	user-select: none;
}
/* modal */
#modal {
	margin: 0 auto;
	max-width: 8000px;
	max-height: 8000px;
	position: absolute;
	width: 100%;
	height: 100%;

	display: none;

	justify-content: center;
	align-items: center;
}
.modal__background {
	margin: 0 auto;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.modal__container {
	max-width: 1920px;
	max-height: 1080px;
	width: 55%;
	height: 60%;
	background: var(--thirdColor);
	z-index: 2;
	border-radius: 20px;
}

/*view*/
.view {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.view__left {
	max-width: 200px;
	height: 100%;
}
.view__right {
	max-width: 1920px;
	width: 100%;
	height: 100%;
}
/*content*/
.view__left-container {
	width: 70px;
	height: 100%;
	background-color: #F5F5F5;
	transition: 1s;
	border-radius: 0 30px 30px 0;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .2);
	position: fixed;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.view__right-container {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	transition: 1s;

	display: flex;
	flex-direction: column;
	align-items:flex-end;
}

/*left*/
.left__burger {
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
}
.left__profileInfo {
	display: flex;
}
.left__profileInfo-wrapperIcon {
	width: 50px;
	height: 50px;
	background-color: var(--mainBackground);
	border-radius: 100%;
	margin-left: 10px;
}
.left__profileInfo-icon {}
.left__profileInfo-text {
	transition: 1s;

	margin-left: 10px;

	display: none;
	flex-direction: column;
	justify-content: center;
}
.left__profileInfo-name {
	font-size: 14px;
	font-weight: 500;
	transition: 1s;
}
.left__profileInfo-mail {
	font-size: 11px;
	font-weight: 400;
	transition: 1s;
}
.left__points {
	max-height: 60px;
	height: 100%;

	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .5s;
}
.left__points:hover {
	background-color: var(--secondColor);
	transition: .5s;
}
.left__points-ic {
	width: 30px;
	margin-left: 20px;
	cursor: pointer;
}
.left__points-title {
	display: none;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}

.left__settings {
	height: 60px;
	display: flex;
	align-items: center;

	margin-top: auto;
	transition: .5s;
	cursor: pointer;
}
.left__settings:hover {
	background-color: var(--secondColor);
	transition: .5s;
}
.left__settings-ic {
	width: 40px;
	margin-left: 15px;
}
/*right*/
.view__right_container-top,.view__right_container-down {
	width: 100%;
	height: 100%;
	background: var(--mainBackground);
	transition: 1s;

	display: flex;
}
.view__right_container-top {
	justify-content: space-around;
	flex-wrap: wrap;
}
.view__right_container-down {
	justify-content: center;
	display: none;
}
/* top */
.right__container-block {
	width: 400px;

	margin-top: 150px;
}
/* блоки по отдельности */
#chat {
	width: 800px;
	margin-left: 100px;
	height: 400px;
	background: var(--mainColor);
	border-radius: 20px 20px 0px 0px;
	order: 4;
}
#chat-header {
	height: 100px;
}
#recipe {
	height: 500px;
	background: var(--mainColor);
	border-radius: 20px;
	order: 3;
}
#recipe-out {
	overflow-y: scroll;
	width: 100%;
	height: 75%;
	border-radius: 20px;
//	background: red;
}
#calories {
	height: 300px;
	background: var(--mainColor);
	border-radius: 20px;
	padding-bottom: 35px;
	order: 1;
}
#calories-stats {
	width: 100%;
	height: 75%;
	border-radius: 0px 0px 20px 20px;
//	background: red;
}
#bluda {
	height: 300px;
	background: var(--mainColor);
	border-radius: 20px;
	order: 2;
}
/*  */
.right__container_block-header {
	width: 100%;
	height: 125px;

	border-radius: 10px 10px 0px 0px;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;

	background: var(--fourdColor);
	transition: 1s;
}
.right__container-block:nth-child(2) > .right__container_block-header:hover {
	background: #f4f5d7;
	transition: 1s;
}
.right__container-block:nth-child(3) > .right__container_block-header:hover {
	background: #f5d9d7;
	transition: 1s;
}
.right__container-block:nth-child(4) > .right__container_block-header:hover {
	background: #daf5d7;
	transition: 1s;
}
.block__header-title {
	font-weight: 400;
	font-size: 14px;

	margin-top: 15px;
	user-select: none;
}
.block__header-img {
	width: 60px;
}
/* menuPointModule chatAll */
textarea {
  resize: none;
	outline: 0;
	font-family: "Rubil",Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-size: 11px;
}
.chatAll__container-chat {
	margin: 0 auto;
	margin-top: 10px;
  width: 790px;
  height: 100%;
 background: var(--mainColor);
	border-radius: 20px 0px 0px 0px;
	overflow-y:scroll;
}
.messageChatAllBlock {
	max-width: 100%;
	height: 60px;
//	background: red;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.messageChatAllBlock:not(:first-child) {
	margin-top: 0px;
}
.myMessage {
	align-items: flex-end;
}

.messageChatAllBlock-name {
	font-weight: 400;
	font-size: 11px;
	user-select: none;
}
.messageChatAllBlock-mess {
	max-width: 250px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

	background: #a6e9ff;
	border-radius:0px 10px 10px 10px;

	font-weight: 400;
	font-size: 14px;
}
.myMessageM {
	border-radius:10px 0px 10px 10px;
	background: #c2ffc8;
}
.chatAll__container-input {
	display: flex;
	outline: 0;
  border: 0;
//	background: red;
	width: 800px;
}
.chattAllMessage {
	width: 100%;
	height: 40px;
	border: 0;
}
.chattAllBtn {
	width: 100px;
	border: 0;
	background: #c2ffc8;
	transition: .5s;
}
.chattAllBtn:hover {
background: #9effa8;
transition: .5s;
}
/* calories */
.calories__stats-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.calories__stats-number {
	font-weight: 700;
	font-size: 36px;
}
.calories__stats-title {
	font-weight: 400;
	font-size: 20px;
}
.calories__stats-second {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
.calories__stats_second-title {
	font-weight: 500;
	font-size: 18px;
}
.calories__stats_second-subtitle {
	font-weight: 400;
	font-size: 16px;
}
.labelCalories__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labelCalories {
 align-self: flex-start;
 font-weight: 400;
 font-size: 14px;
 margin: 0 auto;
 margin-top: 10px;
}
.radioWrapper {
  width: 90%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.labelRad {
  user-select: none;
  font-size: 12px;
  font-weight: 400;
}
.calcMes {
  font-size: 12px;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 5px;
}
.normalCalc_wrapper {
  width: 80%;
  height: 40px;

  display: flex;
  align-items: center;
  margin: 0 auto;

}
/* bluda */
#bluda__container {
	width: 100%;
}
.bluda__container-items {
	width: 100%;

	font-weight: 500;
	font-size: 20px;
	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
	transition: .2s;
}
.bluda__container-items:hover {
	background: var(--fourdColor);
	transition: .2s;
}
